<head>
  <meta charset="utf-8">
  <title>けものトランプジェネレータ</title>
  <meta name="description" content="けものフレンズのアイコンでトランプを生成">
</head>

<body>

  <div id="show_error">
    <span>パラメータが不正です！</span>
    <br />
    <a href="/">もどる！</a>
  </div>

</body>
